/*@import url("/style/varibales.css");*/

:root {
    --dark: #232323;
    --light: #cdcdcd;
    --bright: tomato;
}
*
{
	padding: 0;
	margin: 0;
}

#header
{
	height: 120px;
	width: 100%;
	background: var(--bright);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#part-of-day
{
	margin-right: 30px;
}

#content
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;


	height: calc(100vh - 120px);
}


/*------------------*/

#main-game
{

	height: 100%;
	width: calc(100vw - 2*280px);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.player
{
	/*width: 400px;*/
	width: auto;
	/*height: 400px;*/
	height: minmax(auto, 200px)

}

#send-chat-message
{
	display: flex;
	flex-direction: column;
}

#chat, #info
{
	height: 100%;
	width: 280px;
}

#chat-body
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

#chat, #log
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#log-body
{
	padding-left: 20px;
}

#part-of-day, #role
{
	height: 60%;
	padding: 2px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border: 3px solid #000;
	border-radius: 5px;
}

#part-of-day-img, #role-img
{
	height: 100%;
	width: auto;
}
/*#role-img*/
/*{*/
/*	height: 100px;*/
/*}*/

.chat-message
{
	padding: 5px;
	margin: 5px;
	background: #eee;
	border-radius: 5px;
}