/*Imports*/
@import url('./player.css');
@import url('./chat.css');
@import url('./controls.css');

/*Variables*/
:root {
    --dark: #232323;
    --light: #cdcdcd;
    --bright: tomato;
	--header-height: 120px;
	--info-bar-width: 15%;
	--width-time-of-day: 130px;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #ffffff
}
::-webkit-scrollbar-thumb
{
	background-color: var(--light);
}

/*--------header---------*/

header
{
	position: absolute;
	width: 100%;
	height: 0;
	/*background: #00f;*/
	display: flex;
	/*align-items: center;*/
	justify-content: center;
}

#time-of-day
{
	margin-top: -5px;
	width: var(--width-time-of-day);
	height: calc(var(--width-time-of-day)/2);
	border: 5px solid #000;
	border-bottom-left-radius: var(--width-time-of-day);
	border-bottom-right-radius: var(--width-time-of-day);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#time-of-day[part="timeDay"], #time-of-day[part="timeMeeting"]
{
	background-image: url('../img/day.png');
	background-color: #85f7ff;
}
#time-of-day[part="timeNight"]
{
	background-image: url('../img/night.png');
	background-color: #0e3063;
}

#game
{
	height: 100%;
}
#game-field
{
	height: 100%;
	/*padding: 20px;*/
	/*padding: 0;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

